table{
    width: 100%;
}
.data-loading-shade {
    background: rgba(0, 0, 0, 0.15);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
td.mat-footer-cell:last-of-type{
    padding-right: 0px;
    padding-left: 0px;
}
.hide{
    display: none;
}

.search-div{
    margin: 10px;
}
.search-form-field{
    width: 60%;
    margin-left: 10px;
    padding: 5px 10px;
    border-radius: 5px;
}
.search-form-field div.mat-form-field-underline{
    display: none;
}