#sideNavContainer{
    margin-top: 60px;
}

#sidenav{
    min-width: 200px;
}

.spacer{
    flex: 1 1 auto;
}

.toolbar-icon {
    padding: 0 14px;
}

#sidenav .avatar{
    background-image: url('/assets/img/nishan.jpg');
    background-size: cover;
}

/* #sidenav .menu-item{
    width: 100%;
    border-radius: 0;
    text-align: left;
    padding: 10px;
}
#sidenav .menu-item:hover{
    background: #d1c4e9;
} */

